@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* HERE STARTS SPECIFIC CSS */

body {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  background-color: #333;
  color:#333
}

#quote-box {
  display: grid;
  grid-template-columns: 4rem 20rem 6rem;
  grid-template-rows: auto 2rem 2rem;
  padding: 2rem;
  border-radius: 4px;
  background-color: #fff;
}

#text {
  grid-column: 1/4;
  grid-row: 1;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}

#text span {
  text-align: center;
}

#author {
  grid-column: 2/4;
  grid-row: 2;
  text-align: right;
  font-weight: 300;
}

.buttons {
  grid-column: 1/3;
  grid-row: 3;
}

.button {
  display: inline-block;
  font-weight: 500;
  height: 2rem;
  color:#fff;
  background-color: #333;
  padding-top: 0.25rem;
  border-radius: 4px;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  opacity:0.7;
}

.icons {
  width: 2rem;
  margin-right: 0.5rem;
}

#new-quote {
  grid-column: 3;
  grid-row: 3;
}

@media only screen and (max-width: 560px){

  body {
    font-size: 0.875rem;
  }

  #quote-box {
    width: 360px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 4px;
    background-color: #fff;
  }
  
  #text {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  #author {
    text-align: center;
    margin-bottom: 1rem;

  }

  .buttons {
    grid-column: 1;
    grid-row: 4;
    margin-bottom: 1rem;
    border: 1px solid red;
    text-align: center;

  }

  #new-quote {
    grid-column: 1;
    grid-row: 3;
    margin-bottom: 1rem;
    border: 1px solid red;
  }
}